html {
  font-family: freight-text-pro, serif;
  font-size: 18px;
  line-height: 27px;
}

@media print {
  html {
    font-size: 16px;
  }
}

body {
  background: #f3fcfb;
  color: #001514;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
  hyphens: auto;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle;
  hanging-punctuation: first;
}

@media print {
  body {
    background: transparent;
  }
}

.container {
  margin: 1.5rem auto;
  width: auto;
  max-width: 40rem;
  padding: 0 1rem;
}

@media print {
  .container {
    max-width: 100%;
  }
}

a {
  color: #4183c4;
  text-decoration: none;
  position: relative;
}
a:focus, a:hover {
  outline: none; /* replaced by pseudo-element */
  border-bottom: 1px solid;
}
a:visited { color: #2B5884; }
a.alt, a.alt:visited { color: #C17400; }
a.alt-2, a.alt-2:visited { color: #001514; }
a.alt-2:hover {
  border-bottom: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

img {
  max-width: 100%
}

img.me {
  width: 6rem;
  height: 100%;
  border-radius: 6rem;
  margin-bottom: 0em;
  float: right;
  margin-left: 1rem;
}

img.me-small {
  height: 20px;
  border-radius: 10px;
  float: right;
}

.header {
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin: 0.5rem 0 0 0;
  font-weight: normal;
}

h1,h2,h3 {
  font-family: halyard-display, sans-serif;
  font-weight: 500;
}

h1, .h1 {
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin-bottom: 3rem;
}

h2, .h2 {
  font-size: 2.6rem;
  line-height: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3, .h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

p + p {
  text-indent: 1em;
}

.mini-about {
  text-align: left;
  padding-top: 1.4rem;
  hyphens: none;
}

.mini-about p {
  margin-top: 0.2rem;
}

.footer {
  font-family: halyard-text, sans-serif;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 1.5em 0;
  overflow: hidden;
  padding-top: 1.5rem;
}

.contact {
  float: left;
  width: 50%;
}

.contact p {
  margin: 0;
}

.spiel {
  margin-top: 2rem;
  float: left;
  max-width: 20rem;
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 200;
  color: #565656;
}

@media (max-width: 31em) {
  .contact {
    width: 100%;
    float: none;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  margin-bottom: 0.444em;
}

.post-title {
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 3rem;
}

.date {
  font-family: halyard-text, sans-serif;
  padding-right: 0.5em;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-transform: uppercase;
  font-kerning: none;
  letter-spacing: 0.04rem;
  width: 100%;
  display: block;
}

.meta {
  font-family: halyard-text, sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-kerning: none;
  letter-spacing: 0.08rem;
}

/* standard */

.post {
  margin-top: 1rem;
}

.post:first-letter {
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-size: calc(3.4rem + 0.75vw);
  line-height: 3rem;
  float: left;
  padding-right: 0.4rem;
  text-transform: uppercase;
}

.post pre {
  border: 1px solid #D6D7D8;
  background-color: #F7F8F9;
  padding: .4em;
  overflow-x: scroll;
}

.post ul, .post ol {
  margin-left: 0;
  padding-left: 2em;
}

.post code {
  font-size: 0.9em;
  border: 1px solid #D6D7D8;
  background-color: #F7F8F9;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  line-height: 1.1;
  padding: 0;
}

.post i {
  font-size: 0.9rem;
  margin-top: -0.2rem;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img {
  padding: 1 -1rem;
}

blockquote {
  margin: 1em 2em;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

hr {
  border: none;
  border-top: 1px solid grey;
  width: 100%;
  max-width: 10em;
  margin: 2em auto;
}

.tweet-embed {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}


/* Footnote */

.footnote-content {
  display: none;
}

p + .footnote-content {
  text-indent: 0;
  margin-left: 1.5em;
  margin-right: 2rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.footnote-shown {
  display: block;
}

.footnote-content .reversefootnote {
  display: none;
}

/* .footnote-footnote:target {
  display: block;
} */
