html {
  font-family: freight-text-pro, serif;
  font-size: 18px;
}

@media print {
  html {
    font-size: 16px;
  }
}

body {
  background: #edfbff;
  color: #001514;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.65rem;
  letter-spacing: 0.005em;
  hyphens: auto;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle;
  hanging-punctuation: first;
}

@media print {
  body {
    background: transparent;
  }
}

.of-ornm {
  font-feature-settings: "ornm";
}

.container {
  margin: 1.5rem auto;
  width: auto;
  max-width: 40rem;
  padding: 0 1rem;
}

@media print {
  .container {
    max-width: 100%;
  }
}

a {
  color: #008dc8;
  position: relative;
  text-decoration: none;
}
a:focus, a:hover {
  outline: none; /* replaced by pseudo-element */
  text-decoration-color: #008dc8;
}
a:visited { color: #008dc8; }
a.alt, a.alt:visited { color: #C17400; }
a.alt-2, a.alt-2:visited { color: #001514; }
a.alt-2:hover {
  border-bottom: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

img {
  max-width: 100%
}

img.me {
  width: 6rem;
  height: 100%;
  border-radius: 6rem;
  margin-bottom: 0em;
  float: right;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

img.me-small {
  height: 20px;
  border-radius: 10px;
  float: right;
}

.header {
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 0.5rem 0 0 0;
  font-weight: normal;
}

.header a {
  text-decoration: none;
}

h1,h2,h3 {
  font-family: halyard-display, sans-serif;
  font-weight: 500;
  hyphens: none;
}

h1, .h1 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

h2, .h2 {
  font-size: 2.1rem;
  line-height: 2.1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3, .h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

p + p {
  text-indent: 1.3rem;
}

.mini-about {
  text-align: left;
  padding-top: 1.2rem;
  hyphens: none;
}

.mini-about p {
  margin-top: 0.2rem;
}

.spiel {
  margin-top: 2rem;
  float: left;
  max-width: 20rem;
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 200;
  color: #565656;
}

.footer {
  font-family: halyard-text, sans-serif;
  border-top: 1px solid #d3d3d3;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 1.5em 0;
  overflow: hidden;
  padding-top: 1.5rem;
}

.contact {
  float: left;
  width: 50%;
}

.contact p {
  margin: 0;
}

div.topbanner {
  font-family: halyard-text, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.1rem;
  border-top: 1px solid #ffebd4;
  background-color: #ffebd4;
  margin: 0 0;
  padding: .3rem .5rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 31em) {
  .contact {
    width: 100%;
    float: none;
  }
  h1 {
    font-size: 2.1rem;
    line-height: 2.1rem;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  margin-bottom: 0.444em;
  margin-left: 0;
}

.post-title {
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 3rem;
}

.posts ul {
  padding: 0;
}

.date {
  font-family: halyard-text, sans-serif;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  padding-top: 0.5rem;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-transform: uppercase;
  font-kerning: none;
  letter-spacing: 0.04rem;
  width: 100%;
  display: block;
}

.meta {
  font-family: halyard-text, sans-serif;
  margin-top: 1.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-kerning: none;
  letter-spacing: 0.08rem;
}

/* standard */

.post {
  margin-top: 1rem;
}

.post:first-letter {
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-size: calc(3.2rem + 0.75vw);
  line-height: 3rem;
  float: left;
  padding-right: 0.2rem;
  text-transform: uppercase;
}

.post pre {
  border: 1px solid #D6D7D8;
  background-color: #F7F8F9;
  padding: 0.2rem 0.4rem 0.4rem 0.4rem;
  overflow-x: scroll;
}

.post ul, .post ol {
  margin-left: 0;
  padding-left: 2em;
}

code {
  font-family: freight-micro-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6em;
  border: 1px solid #D6D7D8;
  background-color: #F7F8F9;
  padding: 0 .2em;
}

pre code {
  border: none;
  line-height: 0.7;
  padding: 0;
}

.post i {
  font-size: 0.9rem;
  margin-top: -0.2rem;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img {
  padding: 0;
  margin: 2rem 0 1.3rem -1.3rem;
  width: 100%;
}

li {
  margin-left: 0.6rem;
}

img + em {
  font-family: halyard-text, sans-serif;
  margin-top: -1.3rem;
  margin-bottom: 1.3rem;
  padding: 0 1.3rem 0 1.3rem;
  float: left;
  font-style: normal;
  hyphens: none;
  text-indent: 0;
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 200;
  color: #565656;
}

blockquote {
  margin: 1rem 2rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

hr {
  border: none;
  border-top: 1px solid grey;
  width: 100%;
  max-width: 10em;
  margin: 1.5em auto 1.8em auto;
}

hr + p:first-letter {
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-size: calc(3.2rem + 0.75vw);
  line-height: 3rem;
  float: left;
  padding-right: 0.2rem;
  text-transform: uppercase;
}

.tweet-embed {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.endmatter {
  font-family: halyard-text, sans-serif;
  padding-top: 2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-kerning: none;
  padding-bottom: 0.5rem;
  height: 100%;
  display: flex;
  hyphens: none;
}

.endnavleft {
  float: left;
  width: 50%;
  margin: 0;
  padding-right: 1rem;
}

.endnavright {
  float: right;
  width: 50%;
  margin: 0;
  text-align: right;
  padding-left: 1rem;
}

.return {
  font-family: halyard-text, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-kerning: none;
}

/* table */

.tableholder {
  overflow-x: auto;
}

table {
  font-family: halyard-text, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 200;
  font-feature-settings: "tnum";
  margin: 1rem 2rem 1.3rem 2rem;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0.5rem;
  empty-cells: hide;
  max-width: 100%;
}

th, td {
  padding: 0.2rem 1rem 0.3rem 0.2rem;
}

td {
  hyphens: auto;
  vertical-align: baseline;
  white-space: normal;
  text-overflow: ellipsis;
  min-width: 5rem;
}

th {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4rem;
  vertical-align: bottom;
}

td em {
  font-style: italic;
  font-size: 0.9rem;
  padding-right: 0.4rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ffea00;
}


/* highlighter */

.highlighter {
  background-color: #ffea00;
  padding: 0rem 0.1rem 0 0.1rem;
}

/* Footnote */

.footnote-content {
  display: none;
}

p + .footnote-content {
  text-indent: 0;
  margin: 0.1rem 2rem 0.2rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.footnote-shown {
  display: block;
}

.footnote-content .reversefootnote {
  display: none;
}

.tags {
  margin-top: 1rem;
}

/* popup */

.popup {
  position: relative;
  cursor: help;
  text-decoration: underline;
  text-decoration-color: #FC5C7D;
  text-decoration-thickness: .1em;
  text-underline-offset: 2px;
}
.popup:hover:before {
    opacity: 1;
}

.popup:before {
  content: attr(aria-label);
  font-family: halyard-text, sans-serif;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
  opacity: 0;
  position: absolute;
  min-width: 6rem;
  top: 1.9rem;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.2rem 0.3rem 0.5rem 0.4rem;
  color: #fff;
  background-color: #FC5C7D;
  pointer-events: none;
  -webkit-box-shadow: 0 0 3px 0 #a9a9a9;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 3px 0 #a9a9a9;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 3px 0 #a9a9a9;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* .footnote-footnote:target {
  display: block;
} */
