---
layout: default
---
<p class="meta">{{ page.date | date_to_string }}</p>
<h1 class="post-title">{{ page.title }}</h1>

<div class="post">
{{ content }}

<div class="tags">
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</div>

<div class="endmatter">
  <div class="endnavleft">
    {% if page.previous.url %}
      <p>&laquo <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
    {% endif %}
  </div>
  {% if page.next.url %}
  <div class="endnavright">
    <p><a href="{{page.next.url}}">{{page.next.title}}</a> &raquo</p>
  </div>
  {% endif %}
</div>
<br>
<div class="return">⬑ <a href="#">Back to top</a></div>
</div>
